$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 55%);
$dark-gray: hsl(0, 0%, 41%);

body{
    font-family: "Alata", "sans-serif";
    font-weight: 400;
    font-size: 15px;
    color: $gray;
    overflow-x: hidden;   

    margin: 0px;
  
}   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color:$black;
}

header::before{
    background-color: $black;
    opacity: 0.5;
}
header{
   
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    box-shadow:inset 0 0 0 100vw rgba(0, 0, 0, 0.5);

    #header{
        display: flex;
        position: absolute;
        top: 5%;
        left: 10%;
        align-items: center;
        width: 90vw;
    }

    .header-left{
        width: 30%;
      
    }

    .header-right{
        width: 70%;
        
        ul{ 
            display: flex !important;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 10%;

            
            font-size: 14px;
            list-style-type: none;
            display: inline-flex;

            li{
                margin-right: 2.5rem;
                a{
                    color: $white;
                    text-decoration: none;

                    &:hover{
                        border-bottom: 2px solid $white;
                        padding-bottom: 8px;
                    
                    }
                }
            }
        }


        #hamburger-nav{
            border:none;
            background:none;
        }
    }


    .main-msg{
        border: 2px solid $white;
        position: absolute;
        top: 25%;
        left: 10%;
        padding: 40px;
        max-width: 40%;
        
        font-size: 2rem;
        padding-left: 54px;
        padding-right: 54px;
        
        h1{
            color: $white;
        }
        
    }


}
#content{
    margin: 7.5rem;
}

#intro-section{
    background-image: url(/images/desktop/image-interactive.jpg);
    background-repeat: no-repeat;
    background-size: 70%;


    padding: 120px;

    // background-position:
    // margin-bottom: 120px;
    // #intro-img{
    //     position: absolute;
    //     z-index: -1;
        
    //     width:60%;
    // }

    #about{
        width: 60%;
        position: relative;
        right: -50%;
        margin-top: 13%;
    }
 
}

#creations{
    .header{
        display:inline-flex;
        width: 100%;
    }

    .header-left{
        width: 50%;
        .title{
            font-size: 2.5rem;
            //width: 50%;
        }
    }
   

    .header-right{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        align-items: center;


    }


    .creation-items{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 28px;
        padding-top: 48px;
        .item{
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-shadow:inset 0 0 0 450px rgba(0, 0, 0, 0.5);

            width: auto;
            .desc{
                color: $white;
                font-family:'Josefin Sans', sans-serif;
                font-weight: 300;

                font-size: 28px;
                position: relative;
                left: 10%;
                bottom: 10%;
                width: 160px;
            }

            &.deepearth{
                background-image: url(/images/desktop/image-deep-earth.jpg);  
            }

            &.nightarcade{
                background-image: url(/images/desktop/image-night-arcade.jpg);
            }
            &.soccerteam{
                background-image: url(/images/desktop/image-soccer-team.jpg);
            }
            &.thegrid{
                background-image: url(/images/desktop/image-grid.jpg);
            }
            &.abovevr{
                background-image: url(/images/desktop/image-from-above.jpg);
            }
            &.pocket{
                background-image: url(/images/desktop/image-pocket-borealis.jpg);
            }
            &.curious{
                background-image: url(/images/desktop/image-curiosity.jpg);
            }
            &.fisheye{
                background-image: url(/images/desktop/image-fisheye.jpg);
            }
            
        }
    }

}



#footer{
    background-color: $black;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    
    //grid-gap: 12px;
    //grid-template-columns: 50% 50%;

    .footer-top{
        display:grid;
        grid-template-columns: 50% 50%;
        #footer-icon{
            margin-top: 3rem;
            margin-left: 7.75rem;
        }
        #icon-btn{
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 3rem;
            margin-right: 7.75rem;
        
            li{
                margin-right:1.2rem;
                &:last-child{
                    margin-right: 0rem;
                }
            }
        
        }
    }

    .footer-btm{
        display:grid;
        grid-template-columns: 50% 50%;
        margin-top: 16px;
        #footer-btns{
            margin-left: 7.75rem;
        }

        #copyright{
            display: flex;
            flex-direction: row-reverse;
            margin-right: 7.75rem;
        }
    }


    ul{ 
        display: flex !important;
        flex-direction: row;
        justify-content: flex-start;

        font-size: 14px;
        list-style-type: none;
        display: inline-flex;
        padding-left: 0px;
        li{
            margin-right: 2.5rem;
            a{
                color: $white;
                text-decoration: none;

                &:hover{
                    border-bottom: 2px solid $white;
                    padding-bottom: 8px;
                
                }
            }
        }
    }

   
}



// Modular parts
.btn{
    border: 2px solid $dark-gray;
    width: 128px;
    padding: 12px;
    text-align: center;
    color: $black;

    letter-spacing: 4px;
    cursor: pointer;
    a{
        text-decoration-line: none;
        color: $black;
    }

    &:hover{
        background-color: $black;
        a{
            color: $white;
        } 
    }

    &:focus{
        background-color: $dark-gray;
        a{
            color: $white;
        } 
    }

    &:active{
        background-color: $dark-gray;
        a{
            color: $white;
        } 
    }
}

.card{
    background-color: $white;
    padding: 60px;

    .card-title{
        color: $black;
        font-size: 2.5rem;
        font-weight: 300;
        margin-block-start: 0;
    }
}

.attribution { 
    color: $white;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

//MOBILE


@media screen and (max-width: 767px) {
    

}    


//TABLET
@media screen and (min-width: 768px) and (max-width: 1023px){
    #nav-btns{
        display:none;
    }

}

//LAPTOP/PC
@media screen and (min-width: 1024px) {
    #hamburger-nav{
        display: none;
    }
}