body {
  font-family: "Alata", "sans-serif";
  font-weight: 400;
  font-size: 15px;
  color: #8c8c8c;
  overflow-x: hidden;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: black;
}

header::before {
  background-color: black;
  opacity: 0.5;
}

header {
  background-image: url(/images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  -webkit-box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

header #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5%;
  left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
}

header .header-left {
  width: 30%;
}

header .header-right {
  width: 70%;
}

header .header-right ul {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10%;
  font-size: 14px;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .header-right ul li {
  margin-right: 2.5rem;
}

header .header-right ul li a {
  color: white;
  text-decoration: none;
}

header .header-right ul li a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}

header .header-right #hamburger-nav {
  border: none;
  background: none;
}

header .main-msg {
  border: 2px solid white;
  position: absolute;
  top: 25%;
  left: 10%;
  padding: 40px;
  max-width: 40%;
  font-size: 2rem;
  padding-left: 54px;
  padding-right: 54px;
}

header .main-msg h1 {
  color: white;
}

#content {
  margin: 7.5rem;
}

#intro-section {
  background-image: url(/images/desktop/image-interactive.jpg);
  background-repeat: no-repeat;
  background-size: 70%;
  padding: 120px;
}

#intro-section #about {
  width: 60%;
  position: relative;
  right: -50%;
  margin-top: 13%;
}

#creations .header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

#creations .header-left {
  width: 50%;
}

#creations .header-left .title {
  font-size: 2.5rem;
}

#creations .header-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#creations .creation-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 28px;
  padding-top: 48px;
}

#creations .creation-items .item {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: inset 0 0 0 450px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 450px rgba(0, 0, 0, 0.5);
  width: auto;
}

#creations .creation-items .item .desc {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 28px;
  position: relative;
  left: 10%;
  bottom: 10%;
  width: 160px;
}

#creations .creation-items .item.deepearth {
  background-image: url(/images/desktop/image-deep-earth.jpg);
}

#creations .creation-items .item.nightarcade {
  background-image: url(/images/desktop/image-night-arcade.jpg);
}

#creations .creation-items .item.soccerteam {
  background-image: url(/images/desktop/image-soccer-team.jpg);
}

#creations .creation-items .item.thegrid {
  background-image: url(/images/desktop/image-grid.jpg);
}

#creations .creation-items .item.abovevr {
  background-image: url(/images/desktop/image-from-above.jpg);
}

#creations .creation-items .item.pocket {
  background-image: url(/images/desktop/image-pocket-borealis.jpg);
}

#creations .creation-items .item.curious {
  background-image: url(/images/desktop/image-curiosity.jpg);
}

#creations .creation-items .item.fisheye {
  background-image: url(/images/desktop/image-fisheye.jpg);
}

#footer {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 40% 20%;
      grid-template-rows: 40% 40% 20%;
}

#footer .footer-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

#footer .footer-top #footer-icon {
  margin-top: 3rem;
  margin-left: 7.75rem;
}

#footer .footer-top #icon-btn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 3rem;
  margin-right: 7.75rem;
}

#footer .footer-top #icon-btn li {
  margin-right: 1.2rem;
}

#footer .footer-top #icon-btn li:last-child {
  margin-right: 0rem;
}

#footer .footer-btm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-top: 16px;
}

#footer .footer-btm #footer-btns {
  margin-left: 7.75rem;
}

#footer .footer-btm #copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 7.75rem;
}

#footer ul {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 14px;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0px;
}

#footer ul li {
  margin-right: 2.5rem;
}

#footer ul li a {
  color: white;
  text-decoration: none;
}

#footer ul li a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}

.btn {
  border: 2px solid dimgray;
  width: 128px;
  padding: 12px;
  text-align: center;
  color: black;
  letter-spacing: 4px;
  cursor: pointer;
}

.btn a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
}

.btn:hover {
  background-color: black;
}

.btn:hover a {
  color: white;
}

.btn:focus {
  background-color: dimgray;
}

.btn:focus a {
  color: white;
}

.btn:active {
  background-color: dimgray;
}

.btn:active a {
  color: white;
}

.card {
  background-color: white;
  padding: 60px;
}

.card .card-title {
  color: black;
  font-size: 2.5rem;
  font-weight: 300;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #nav-btns {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #hamburger-nav {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */